Orderby:

<ul style="display:-webkit-inline-box">
   <li class="nav">
      <span class="glyphicon glyphicon-transfer">   </span>
      <a href ng-click="usersController.sortType = 'school'">School</a>
   </li>
   <li class="nav">
      <span class="glyphicon glyphicon-transfer">   </span>
      <a href ng-click="usersController.sortType = 'name'">Name</a>
   </li>
   <li class="nav">
      <span class="glyphicon glyphicon-transfer">   </span>
      <a href ng-click="usersController.sortType = 'birthdate'">Birthdate</a>
   </li>
</ul>